.error {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.input-error {
    border-color: red;
}

.input-success {
    border-color: green;
}

/* ошибка с пом. абсолютного позиционирования */
.abs-container {
    position: relative;
}

.abs-container .abs-element {
    position: absolute;
}

.abs-container .abs-element-2 {
    position: absolute;
    top: 0;
    right: 3%;
    cursor: pointer;

    background-color: rgb(246, 246, 246);
    border: 2px solid rgb(186, 186, 185);
    padding: 2px 10px;
    border-radius: 5px;
    color: brown;
    width: 150px;
}

/* контейнер с юзерами*/
.users {
    background-color: aliceblue;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.users h3 {
    grid-column: 1/4;
    justify-self: center;
}

.users .user {
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

.users .user img {
    width: 100%;
    border-radius: 8px;
}

/* products */
.products {
    background-color: aliceblue;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.products .product {
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
}

.products .product h4 {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(202, 201, 201);
}

/* cart */
.cart-products {
    margin: 50px 0;
    padding: 30px;
    background-color: aliceblue;
}

.cart-products .cart-product {
    margin: 20px;
    padding: 15px;
    background-color: rgb(221, 238, 254);
    display: grid;
    grid-template-columns: 50% 15% 25% 5%;
    gap: 20px;
}

.cart-products .cart-product .delete-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-products .cart-product .delete-item a {
    color: red;
    font-size: 22px;
    font-weight: 700;
}

/* блок изменения кол-ва товаров */
.count {
    display: inline-block;
    width: 30px;
    text-align: center;
}


/* заказы в ЛК */
.orders {
    padding: 15px;
    background-color: aliceblue;
    font-size: 20px;
}

.orders .order-header {
    font-weight: 500;
    color: black;
    background-color: rgb(210, 197, 181);
    margin-bottom: 20px;

}

.orders .order {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.orders .order span:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders .order span:last-of-type a {
    color: red;
    font-size: 20px;
    font-weight: 700;
}


.orders .order.back {
    background-color: rgb(216, 253, 241);
}


@media (max-width:1000px) {
    .users {
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:550px) {
    .users {
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}