/* новости */
.news {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    background-color: rgb(216, 255, 255);
}

.news .news-item {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.news .news-item .news-info {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}

.news .news-item .news-info img {
    width: 100%;
    border-radius: 10px;
}

.news .news-item .author-info .author-info-link {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: flex-end;
    align-items: center;
}

.news .news-item .author-info img {
    width: 50px;
    border-radius: 50%;
}

/* авторы */
.authors {
    max-width: 1000px;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 50px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 20px;
}

.authors h1 {
    grid-column: 1/5;
    /* text-align: center; */
    justify-self: center;
}

.authors .author img {
    width: 100%;
    border-radius: 50%;
}

.authors .author h2 {
    text-align: center;
}