/**************** flexbox *********************/
.flex-container {
    max-width: 600px;
    background-color: aliceblue;
    padding: 20px 0;
    margin: 100px 0;

    display: flex;
    /* gap: 20px; */
    /*расположение по основной оси*/
    justify-content: space-evenly;

}

.flex-container .flex-element {
    padding: 20px;
    background-color: aquamarine;
}