.users {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(200, 228, 252);
    margin: auto;
    max-width: 1200px;
}

.users .user {
    width: 300px;
}

.users .user img {
    width: 100%;
}