/* authors */
.authors {
    max-width: 1200px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;

    display: flex;
    gap: 20px;
}

.authors .author {
    max-width: 25%;
}

.authors .author img {
    width: 100%;
}

/* author */
.author {
    max-width: 1000px;
    margin: auto;
    padding: 20px 40px;
    background-color: aliceblue;
}

.author h1 {
    text-align: center;
}

.author .author-info {
    margin-top: 50px;
}

.author .author-info img {
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    width: 40%;
    border-radius: 10px;
}

.author .author-info p {
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 10px;
}