/* authors */
.authors {
    max-width: 1200px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;

    display: flex;
    gap: 20px;
}

.authors .author {
    max-width: 25%;
}

.authors .author img {
    width: 100%;
}

/* author */
.author {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: aliceblue;
}

.author h1 {
    text-align: center;
}

.author .author-info {
    margin-top: 50px;
}

.author .author-info img {
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    width: 40%;
    border-radius: 10px;
}

.author .author-info p {
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 10px;
}

/* news */
.news {
    max-width: 1200px;
    margin: 20px auto;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 20px;
}

.news .news-item {
    padding: 30px;
    background-color: rgb(216, 236, 253);
    margin-bottom: 20px;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}

.news .news-item .news-img img {
    width: 100%;
}

.news .news-item .text-info {
    font-size: 20px;
}

.news .news-item .text-info a {
    color: rgb(91, 25, 25);
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
}

.news .news-item .text-info a:hover {
    text-decoration: underline;
}

.news .news-item .text-info a h2 {
    margin-top: 0;
}

/* news detail */
.news-item {
    max-width: 1200px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 40px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.news-item .news-info {
    padding: 20px;
    background-color: antiquewhite;
}

.news-item .news-info img {
    width: 100%;
}

.news-item .author-info {
    background-color: rgb(195, 253, 253);
    padding: 20px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.news-item .author-info img {
    width: 90%;
}